/**********************Header styling***************************************************/
.header{
    background-image: url(/home/annick/Documents/week1-project/week1-project-img/head1.jpg); 
    padding-bottom: 350px;
    background-repeat: no-repeat;
    background-size:cover;
   
    border-bottom: 2px solid grey;
    
    
}
.header>h1{
    text-align:center;
    padding-top:200px;
    color: white;

}
.aboutme{
    border-bottom: 2px solid grey;

}
/**********************aboutme styling***************************************************/

.aboutme1{
  text-align: center; 

}
#img1 {
    border-radius:200px;
}

 .aboutme2{
display:flex;
flex-direction:row;
justify-content:space-around;
} 
 .card1,.card2,.card3,.card4{
    box-shadow: 5px 5px 5px 0 rgba(245, 171, 53, 1);
    max-width:250px;
    max-height:250px;
    margin-bottom:5px;
 }
 #me1:hover,#me2:hover,#me3:hover,#me4:hover{
     color:rgba(245, 171, 53, 1);
 }
/**********************myproject styling*****************************************************************/
.myprojects{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.projects{
    display: flex;
    justify-content: center;
    
}

/* #img2:hover,#img3:hover,#img4:hover{
    
    border-radius: 100px; 
    opacity:0.7;
}  */



